@model IEnumerable<MIS4200_Team2.Models.employeeData>

@{
    ViewBag.Title = "Employees";
}

<h2>Index</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "employeeData", FormMethod.Get))
            {
                <p>
                    Search for users by first or last name <span class="glyphicon glyphicon-search	
"></span>:
                    @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        <div class="col-md-3">
         <!--   @Html.ActionLink("Create New", "Create") -->
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.emailAddress) <span class="glyphicon glyphicon-envelope"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber) <span class="glyphicon glyphicon-phone"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.officeLocation) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hireDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.emailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.officeLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hireDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })

                </td>
            </tr>
        }

    </table>
